dgl=2.1.0
numpy=1.26.4
pandas=2.2.
pytorch-cuda=12.1
scikit-learn=1.5.1
scipy=1.13.1
seaborn=0.13.2
torch-scatter=2.1.2
torch-sparse=0.6.18
torchaudio=2.2.2=py312_cu121
torchdata=0.11.0
torchvision=0.17.2=py312_cu121
tqdm=4.66.4


